.text--green{
    color: $color-green-0;
}
.text--green-1{
    color: $color-green-1;
}
.text--black{
    color: $color-black;
}
.text--gray{
    color: $color-gray;
}
.text--white{
    color: $color-white;
}

//Bg
.bgc--green{
    background-color: $color-green-0;
}
.bgc--green-1{
    background-color: $color-green-1;
}
.bgc--black{
    background-color: $color-black;
}
.bgc--gray{
    background-color: $color-gray;
}
.bgc--white{
    background-color: $color-white;
}

//
.font-inter{
    font-family: Inter!important;
}