.font-inter {
    font-family: "Inter";
}

.d-flex {
    display: flex;
}

.j-space-between {
    justify-content: space-between;
}

.container-mw {
    max-width: 1140px !important;
}

/* #banner-cuisine */
#banner-cuisine .box-image img {
    width: 100%;
    height: auto;
}

#banner-cuisine .slide-cuisine .box-img-slide img {
    width: 100%;
    height: auto;
}

#banner-cuisine .slide-cuisine .box-img-slide {
    padding: 14px 7.5px;
}

#banner-cuisine .slide-cuisine {
    margin-right: 7.5px;
    margin-left: 7.5px;
}

/* #restaurant */
#restaurant .title-res {
    border-bottom: 1px solid #38A700;
}

#restaurant .title-res p {
    text-align: center;
    font-size: 36px;
    line-height: normal;
    font-weight: 700;
    color: #38A700;
}

#restaurant .detail-res {
    padding-bottom: 46px;
    padding-top: 23px;
    background-color: rgba(56, 167, 0, 0.1);;
}

#restaurant .in-detail-res {
    background-color: #fbfdfa;
    max-width: 1065px !important;
    padding: 21px 28px 24px 28px;
    border-radius: 10px;
}

#restaurant .detail-res .img-res .box-image img {
    width: 100%;
    height: auto;
}

#restaurant .all-info-res .name-res {
    margin-left: 25px;
}

#restaurant .all-info-res .name-res p {
    font-weight: 600;
    font-size: 32px;
    line-height: normal;
    color: #38A700;
    margin-bottom: 10px;
}

#restaurant .row-info-2>div {
    margin-left: 25px;
}

#restaurant .row-info-2 {
    border-top: 1px solid #EAE8E8;
}

#restaurant .row-info-2 .describe-res {
    padding-top: 26px;
    padding-bottom: 16px;
    padding-right: 29px;
    border-right: 1px solid #EAE8E8;
    width: 47%;
}

#restaurant .row-info-2 .info-detail-res {
    width: 53%;
    padding-top: 26px;
    margin-bottom: 16px;
    /* padding-right: 32px; */
}

#restaurant .row-info-2 .describe-res .icon img {
    margin-top: -15px;
}

#restaurant .row-info-2 .describe-res p {
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    color: #0F4A1A;
}

#restaurant .row-info-2 .info-detail-res p {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    color: #0F4A1A;
}

#restaurant .row-info-2 .text p {
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    padding-left: 8px;
    text-align: justify;
}

#restaurant .row-info-2 .info-detail-res ul {
    padding-left: 10px;
}

#restaurant .row-info-2 .info-detail-res .icon img {
    padding-left: 10px;
    margin-top: -13px;
}

#restaurant .row-info-2 .info-detail-res ul li {
    list-style-type: none;
    font-size: 12px;
    font-family: "Inter";
    color: #0F4A1A;
    font-weight: 500;
    line-height: normal;
}

#restaurant .row-info-2 .info-detail-res ul li:first-child {
    color: #38A700;
}

#restaurant .row-info-3 .add-to-tour .btn-att a {
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
}

#restaurant .row-info-3 .add-to-tour .btn-att button {
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: #38A700;
    color: #ffffff;
    transition: 0.8s;
}

#restaurant .row-info-3 {
    /* position: relative; */
}

#restaurant .row-info-3 a {
    /* position: absolute; */
    right: 0;
}

#restaurant .row-info-3 .add-to-tour .btn-att button:hover {
    background-color: #0F4A1A;
    transition: 0.8s;
}

#restaurant .row-info-3 .add-to-tour {
    width: 17%;
    margin-left: auto;
}

/* #cook-table */

#cook-table .title-res p {
    
}


