.banner-top {
    &.style-1 {
        background-size: cover;
        .bg {
            background: rgba(15, 74, 26, 0.7);
            padding-top: 180px;
            padding-bottom: 180px;
        }
        h1 {
            text-transform: uppercase;
            font-family: "Inter";
            font-style: normal;
            font-weight: 900;
            font-size: 36px;
            line-height: 44px;
            color: #ffffff;
        }
        nav {
            li {
                color: #ffffff;
                a {
                    color: #ffffff;
                }
            }
            .breadcrumb-item + .breadcrumb-item::before {
                color: white;
            }
        }
    }
    .search-bar {
        background-color: white;
        border-radius: 10px;
        i {
            margin: 0px 18px;
            color: #38a700;
            font-size: 20px;
            margin-right: 0px;
        }
        input {
            width: 200px !important;
        }
        input,
        select {
            width: 150px;
            border: none;
            background-color: transparent;
            outline: none;
            box-shadow: none;
            color: rgba(113, 113, 113, 0.6);
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            padding: 15px;
        }
        .cost {
            .select2-container {
                width: 180px !important;
                border-left: 1px solid #38a700;
            }
        }
        .type {
            .select2-container {
                width: 200px !important;
                border-left: 1px solid #38a700;
            }
        }
        .service {
            .select2-container {
                width: 160px !important;
                border-left: 1px solid #38a700;
            }
        }
        .select2-container--default .select2-selection--single {
            border: none !important;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: rgba(113, 113, 113, 0.6);
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
        }
        .col-last {
            height: 100%;
        }
        button {
            border: none;
            background-color: transparent;
            padding: 15px 23px;
            background: #38a700;
            border-radius: 0px 10px 10px 0px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #ffffff;
        }
    }
    &.style-2 {
        h1 {
            text-transform: uppercase;
            font-family: "Inter";
            font-style: normal;
            font-weight: 900;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            color: #38a700;
            border-bottom: 4px solid #666a86;
            max-width: 178px;
            width: 100%;
        }
    }
}
@include responsive($size-lg) {
    .banner-top.style-1 h1{
        font-size: 25px;
        text-align: center;
    }
    .banner-top .search-bar {
        width: 100%;
    }
    .banner-top .search-bar input{
        width: 100%!important;
    }
    .banner-top .search-bar .col-input{
        margin-top: 20px;
        padding: 0px 20px;
    }
    .banner-top .col {
        width: 100%;
        padding: 10px 30px;
    }
    .banner-top .search-bar .cost .select2-container,
    .banner-top .search-bar .type .select2-container,
    .banner-top .search-bar .service .select2-container {
        width: 100% !important;
    }
    .banner-top .search-bar button{
        width: 100%;
        border-radius: 10px;
    }


    .sort .sort-list label{
        border-radius: 10px!important;
        padding: 10px!important;
    }
    .sort .sort-list{
        border-radius: 10px;
        width: 100%;
    }
    .sort .sort-list label,.sort .sort-list .select{
        width: 100%!important;
    }
    .sort .sort-list .dropdown button{
        width: 100%!important;
        border-right: none!important;
        margin: 10px 0px;
    }
    .sort .sort-list .select ul{
        width: 100% !important;
    }
    .banner-top.style-1 .bg{
        padding: 55px 0px !important;
    }
    .select2-results__option--selectable{
        background-color: #C0F4CA;
        border-bottom: 1px solid gray;
        transition: .5s;
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
        background-color: #38a700;
    }
}
