.breadcrumb-custom {
    li {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: flex-end;
        text-align: justify;
        color: #717171;
        &.active{
            color: #38A700;
        }
    }
}
.tien-ich-chi-tiet-article{}