.card-news-lates {
    transition: 0.5s;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
            rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .card-contain {
        height: 245px;
        border-radius: 5px;
        background-size: cover;
        position: relative;
        .overlay {
            background-color: $color-black;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                180deg,
                rgba(15, 74, 26, 0) 0%,
                rgba(15, 74, 26, 0.56) 42.19%,
                rgba(15, 74, 26, 0.72) 100%
            );
            border-radius: 5px;
        }
        .content {
            position: relative;
            z-index: 100;
            .badge {
                font-family: Inter;
                font-size: 11px;
                font-weight: 500;
                line-height: 13px;
                letter-spacing: 0em;
                text-align: center;
            }
        }
    }
    h6 {
        margin-top: 75px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 108.02%;
        /* or 22px */
        text-align: justify;
        color: #ffffff;
    }
    span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
        text-align: justify;
        color: #ffffff;
    }
    p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-align: justify;
        color: #ffffff;
    }
}
.more-news-card {
    transition: 0.5s;
    &:hover {
        h6 {
            color: $color-green-0 !important;
        }
    }
    img {
        width: 118px;
        height: 118px;
        object-fit: cover;
    }
    .card-content-right {
        max-width: 189px;
        .badge {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            text-align: center;
            color: #ffffff;
        }
        h6 {
            transition: 0.5s;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-align: justify;
            color: #0f4a1a;
            margin-bottom: 0px;
        }
        .text--black {
            i {
                font-size: 15px;
            }
            span {
                font-family: "Inter";
                font-style: normal;
                font-weight: 500;
                font-size: 8px;
                text-align: justify;
                color: #717171;
            }
        }
        p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            text-align: justify;
            color: #0f4a1a;
            margin-bottom: 0;
        }
    }
}
.post-item-card {
    .bg {
        &:hover {
            h6 {
                color: $color-green-white !important;
            }
        }
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
        .bg-overlay {
            border-radius: 10px;
            padding: 18px 25px;
            background: linear-gradient(
                180deg,
                rgba(15, 74, 26, 0) 0%,
                rgba(15, 74, 26, 0.56) 42.19%,
                rgba(15, 74, 26, 0.72) 100%
            );
        }
        .content {
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .top-content {
            span {
                font-family: "Inter";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #ffffff;
            }
        }
        .bot-content {
            h6 {
                transition: 0.5s;
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 108.02%;
                text-align: left;
                color: #ffffff;
            }
            p {
                font-family: "Inter";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                text-align: left;
                color: #ffffff;
            }
        }
    }
}

.card-diem-den {
    .card {
        border: none;
        .card-img-top {
            border-radius: 10px 10px 0px 0px;
            height: 228.01px;
            object-fit: cover;
        }
        .card-body {
            h5 {
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: justify;
                color: #0f4a1a;
                margin-bottom: 7px;
            }
            i {
                color: #38a700;
                margin-right: 5px;
            }
            .card-text {
                font-family: "Inter";
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                text-align: justify;
                color: #0f4a1a;
            }
        }
    }
}

.card-suggest {
    background-color: white;
    border-radius: 10px;
    padding: 20px 38px;
    span.fs-1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #38a700;
        margin-right: 18px;
    }
    h5 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #38a700;
    }
    .card-inside {
        .img-top {
            height: 112px;
            object-fit: cover;
            border-radius: 5px;
        }
        .card-inside-body {
            h6 {
                font-family: "Inter";
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                color: #38a700;
                margin-bottom: 5px;
                margin-top: 2px;
            }
            .rate img {
                margin-right: 2px;
                margin-bottom: 3px;
            }
            span {
                display: flex;
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                color: #0f4a1a;
            }
        }
    }
}

@include responsive($size-md) {
    .more-news-card > .card-contain > div {
        justify-content: center;
    }
}
