.form-group-style-2 {
    form {
        label {
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #0f4a1a;
            margin-bottom: 10px;
        }
        input {
            background: #ffffff;
            border: 1px solid #38a700;
            border-radius: 5px;
            color: #38a700;
        }
    }
}
