#addTour {
    .modal-header {
        border-bottom: none;
    }
    .modal-body {
        h3 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #38a700;
            &::after {
                content: "";
                display: block;
                width: 140px;
                height: 3px;
                background-color: #38a700;
                margin: 0 auto;
                margin-top: 5px;
                margin-bottom: 20px;
            }
        }
        .btn-group-custom {
            a {
                margin: 0 20px;
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #ffffff;
            }
            .dark-green {
                background: #0f4a1a;
            }
        }
    }
}
#modal360 {
    .modal-dialog {
        max-width: 1167px;
        width: 100%;
        margin: 100px auto !important;
        padding: 0px 10px;
    }
}
.modal-chi-tiet-co-so-luu-tru,.modal-list-anh {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    >.container{
        position: relative;
        z-index: 0;
    }
    background-color: rgba(94, 94, 94, 0.213);
    .modal-dialog {
        position: relative;
        background-color: white;
        margin: 0 auto;
        width: 100%;
        max-width: 1074px;
        border-radius: 10px;
    }
    .banner-service {
        background-color: transparent;
        padding: 0;
    }
    #banner-cuisine {
        .banner-service {
            background-color: transparent;
        }
        .box-img-slide {
            img {
                width: 100% !important;
                height: 430px !important;
            }
        }
    }
    .list-img {
        .list-contain {
            overflow-x: scroll;
            // -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar-track {
                // transform: translate(0px, 0px);
                -webkit-box-shadow: inset 0 0 6px $color-white;
                background-color: #d9d9d9;
                // margin-top: 10px;
                // transform: translate(0px,100px);
            }

            &::-webkit-scrollbar {
                // margin-top: 10px;
                // width: 7px;
                height: 6px;
                background-color: #d9d9d9;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #717171;
            }
            .img {
                img {
                    width: 107px;
                    height: 107px;
                    object-fit: cover;
                }
            }
        }
    }
    .content {
        h1 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #38a700;
        }
        .num-people {
            span {
                font-family: "Inter";
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #000000;
            }
            a {
                font-family: "Inter";
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #0080f6;
            }
        }
        .list-detail {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-align: justify;
            color: #0f4a1a;
        }
        .info-list {
            .list-item {
                margin-bottom: 5px;
                // img{
                //     width: 20px;
                // }
                span,
                li,
                p {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #0f4a1a;
                    margin-left: 5px;
                }
            }
        }
        .price-list {
            height: 150px;
        }
    }
    .delete-x {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }
    .delete-x-2 {
        position: relative;
        z-index: 1;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }
    
    
}

.modal-properties {
    .modal-dialog {
        max-width: 1167px;
        width: 100%;
        margin: 100px auto !important;
        padding: 0px 10px;
        .modal-content {
            border: 5px solid #38a700;
            border-radius: 10px;
        }
    }
}
