$color-green-white: #c0f4ca;
$color-green-0: #38a700;
$color-green-1: #0f4a1a;
$color-white: #ffffff;
$color-black: #220c10;
$color-gray: #666a86;


$size-sm:575.98px;
$size-md:767.98px;
$size-lg:1199.98px;
$size-xl:1399.98px;