.search-card {
    .hotel-image {
        h1 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #ffffff;
        }
    }
}
.text-nowrap{
    white-space: nowrap;
}