#co-so-luu-tru-danh-sach {
    .card-diem-den .card .img-contain .user-selection a {
        font-size: 10px;
    }
    .card-diem-den .card .card-img-top {
        height: 170px !important;
    }
    .card-diem-den .card .img-contain .heart {
        width: 30px;
    }
}
