#diem-den-chi-tiet-header {
    .top {
        height: 560px;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        a {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #ffffff;
            padding: 15px 20px;
            margin-bottom: 100px;
        }
    }
    .img-contain {
        img {
            height: 277px;
            object-fit: cover;
            object-position: center;
        }
    }
}
#diem-den-chi-tiet-detail {
    .bg {
        h3 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #38a700;
        }
        background: rgba(56, 167, 0, 0.1);

        .video-important {
            iframe {
                height: 608px;
                border-radius: 10px;
            }
        }
        .thong-tin-nhanh {
            .border-left {
                border-left: 1px solid rgba(15, 74, 26, 0.15);
            }
            @include responsive($size-lg) {
                .border-left {
                    border-left: none;
                }
            }
            background-color: white;
            margin-top: 10px;
            border-radius: 10px;
            .contact-item {
                margin-bottom: 15px;
                i {
                    font-size: 20px;
                    color: #38a700;
                }
                b {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    color: #0f4a1a;
                }
                span {
                    font-family: "Inter";
                    font-style: normal;
                    // font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    color: #0f4a1a;
                }
            }
            .btn {
                width: 100%;
                max-width: 466px;
            }
        }

        .chi-tiet {
            background-color: white;
            padding: 36px 58px;
            border-radius: 10px;
            p {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #0f4a1a;
            }
        }

        .tour-goi-y {
            .position-relative {
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: white;
                    padding: 10px 15px;
                    background: #38a700;
                    border-radius: 10px 0px 0px 0px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }
}
#rating-section {
    .head-rate {
        h3 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #38a700;
        }
        p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #38a700;
            opacity: 0.8;
        }
    }
    .circle-progress {
        margin: 0 auto;
        width: 142px;
        height: 142px;
        border-radius: 50%;
        background: conic-gradient(#38a700 100deg, #d9d9d9 0deg);
        position: relative;
        .absolute-progress {
            width: 120px;
            height: 120px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            span:first-child {
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 36px;
                text-align: center;
                color: #38a700;
            }
            span:last-child {
                font-family: "Inter";
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 20px;
                text-align: center;
                color: #38a700;
            }
        }
    }
    .list-react-contain {
        width: 100%;
        max-width: 544px;
        ul {
            li {
                margin-bottom: 16px;
                span {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 13px;
                    color: #38a700;
                    opacity: 0.8;
                    white-space: nowrap;
                    // width: 100px;
                    // display: block;
                    &:first-child {
                        margin-right: 10px;
                    }
                    &:last-child {
                        color: #717171;
                    }
                }

                .progress {
                    height: 7px;
                    .progress-bar {
                        background-color: #38a700;
                    }
                }
            }
        }
        &.end {
            border-left: 1px solid #38a700;
            .progress {
                height: 7px;
                .progress-bar {
                    background-color: #717171;
                }
            }
        }
    }
    .user-rate-comment-contain {
        .list-user-rate {
            margin-top: 18px;
            li {
                .item {
                    border-top: 1px solid rgba(15, 74, 26, 0.4);
                    margin-bottom: 20px;
                    padding: 12px 30px;
                    .img {
                        img {
                            width: 49px;
                            height: 49px;
                            object-fit: cover;
                            border-radius: 50%;
                            border: 2px solid #38a700;
                        }
                    }
                    .content {
                        h6 {
                            margin-top: 5px;
                            font-family: "Inter";
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 24px;
                            color: #38a700;
                            margin-bottom: 4px;
                        }
                        .time {
                            // margin-top: 4px;
                            font-family: "Inter";
                            font-style: normal;
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 13px;
                            color: rgba(113, 113, 113, 0.6);
                            opacity: 0.8;
                        }
                        .rate-star {
                            img {
                                margin-right: 3px;
                            }
                            b {
                                font-family: "Inter";
                                font-style: normal;
                                font-weight: 600;
                                font-size: 11px;
                                line-height: 13px;
                                text-align: justify;
                                color: #0f4a1a;
                            }
                        }
                        .comment {
                            font-family: "Inter";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 11px;
                            line-height: 13px;
                            text-align: justify;
                            color: #0f4a1a;
                        }
                    }
                }
                .form-comment {
                    .list-star-rate {
                        img {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.header-trang-chi-tiet {
    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-align: center;
        color: #38a700;
        border-bottom: 1px solid #38a700;
        margin-bottom: 0;
    }
}

@include responsive($size-md) {
    #rating-section .user-rate-comment-contain .menu-bar li a {
        border-radius: 5px;
    }
    #rating-section .user-rate-comment-contain .menu-bar li {
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #rating-section .user-rate-comment-contain .menu-bar .sort {
        position: relative;
        display: block;
    }
    #rating-section .list-react-contain.end {
        border: none;
    }
    #rating-section .user-rate-comment-contain .list-user-rate li .item {
        padding: 10px 5px;
    }
    #diem-den-chi-tiet-detail .bg .thong-tin-nhanh .contact-item {
        b,
        span,
        i {
            font-size: 14px;
        }
    }
    #diem-den-chi-tiet-detail .bg .thong-tin-nhanh .contact-item {
        margin-bottom: 7px;
    }
    #diem-den-chi-tiet-detail .bg .chi-tiet {
        padding: 20px 15px;
    }
    #diem-den-chi-tiet-detail .bg .chi-tiet p {
        font-size: 15px;
    }
    #rating-section .user-rate-comment-contain .list-user-rate li .form-comment .content h6 {
        font-size: 15px;
    }

    #diem-den-chi-tiet-detail .bg .video-important iframe {
        height: 300px;
    }
}
