#diem-den-chi-tiet-header {
    .top {
        height: 560px;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        a {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #ffffff;
            padding: 15px 20px;
            margin-bottom: 100px;
        }
    }
    .img-contain {
        img {
            height: 277px;
            object-fit: cover;
            object-position: center;
        }
    }
}
#diem-den-chi-tiet-detail {
    * {
        font-family: "Inter";
    }
    .header {
        h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            color: #38a700;
            border-bottom: 1px solid #38a700;
            margin-bottom: 0;
        }
    }
    .bg {
        h3 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #38a700;
        }
        background: rgba(56, 167, 0, 0.1);

        .image-important {
            height: 608px;
            object-fit: cover;
            border-radius: 10px;
        }
        .user-selection {
            a {
                width: 50%;
                padding: 15px;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #ffffff;
                &:first-child {
                    margin-right: 10px;
                }
                &:last-child {
                    margin-left: 10px;
                }
            }
        }
        .thong-tin-nhanh {
            background-color: white;
            margin-top: 10px;
            border-radius: 10px;
            ul li {
                padding-left: 0;
                border-bottom: none;
                i {
                    color: #38a700;
                    font-size: 20px;
                    margin-right: 10px;
                }
                span {
                    font-family: "Inter";
                    font-style: normal;
                    // font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    color: #0f4a1a;
                }
            }
        }
        .diem-noi-bat {
            ul li {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #0f4a1a;
            }
        }
        .tour-goi-y {
            .position-relative {
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: white;
                    padding: 10px 15px;
                    background: #38a700;
                    border-radius: 10px 0px 0px 0px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }
}
#rating-section {
    .head-rate {
        h3 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #38a700;
        }
        p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #38a700;
            opacity: 0.8;
        }
    }
    .circle-progress {
        margin: 0 auto;
        width: 142px;
        height: 142px;
        border-radius: 50%;
        background: conic-gradient(#38a700 100deg, #d9d9d9 0deg);
        position: relative;
        .absolute-progress {
            width: 120px;
            height: 120px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            span:first-child {
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 36px;
                text-align: center;
                color: #38a700;
            }
            span:last-child {
                font-family: "Inter";
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 20px;
                text-align: center;
                color: #38a700;
            }
        }
    }
    .list-react-contain {
        ul {
            li {
                margin-bottom: 16px;
                span {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 13px;
                    color: #38a700;
                    opacity: 0.8;
                    white-space: nowrap;
                    // width: 100px;
                    // display: block;
                    &:first-child{
                        margin-right: 10px;
                    }
                    &:last-child {
                        color: #717171;
                    }
                }

                .progress {
                    height: 7px;
                    .progress-bar {
                        background-color: #38a700;
                    }
                }
            }
        }
        &.end {
            border-left: 1px solid #38a700;
            .progress {
                height: 7px;
                .progress-bar {
                    background-color: #717171;
                }
            }
        }
    }
    .user-image-rate-contain {
        span {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #38a700;
            opacity: 0.8;
            margin-right: 30px;
        }
        ul {
            li {
                margin-right: 10px;
                img {
                    width: 52px;
                    height: 52px;
                    object-fit: cover;
                    border-radius: 5px;
                }
                .overlay {
                    background: rgba(113, 113, 113, 0.6);
                    width: 52px;
                    border-radius: 5px;
                    height: 52px;
                    span {
                        color: white;
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    .user-rate-comment-contain {
        .menu-bar {
            border-bottom: 1px solid #0f4a1a;
            li {
                // border-bottom: 1px solid #0F4A1A;
                background-color: #e0e0e0;
                border-radius: 5px 5px 0px 0px;
                margin-right: 10px;
                border-bottom: none;
                // padding: 5px 5px;
                a {
                    background-color: #e0e0e0;
                    color: #0f4a1a;
                    padding: 7px 5px;
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 13px;
                    text-align: center;
                    opacity: 0.8;
                    border-bottom: none;
                    &.active {
                        background-color: #38a700;
                        color: white;
                    }
                }
            }
            .sort {
                position: absolute;
                top: 0;
                right: 0;
                select {
                    border: none;
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 13px;
                    color: #38a700;
                    opacity: 0.8;
                    outline: none;
                }
            }
        }
        .list-user-rate {
            margin-top: 18px;
            li {
                .item {
                    border-bottom: 1px solid rgba(15, 74, 26, 0.4);
                    margin-bottom: 20px;
                    .img {
                        img {
                            width: 49px;
                            height: 49px;
                            object-fit: cover;
                            border-radius: 50%;
                            border: 2px solid #38a700;
                        }
                    }
                    .table-contain {
                        table {
                            tr {
                                padding-bottom: 5px;
                            }
                            td {
                                h5 {
                                    font-family: "Inter";
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 17px;
                                    color: #38a700;
                                    opacity: 0.8;
                                }
                                &.title-under {
                                    i {
                                        font-size: 11px;
                                        margin-right: 5px;
                                    }
                                    span {
                                        font-family: "Inter";
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 11px;
                                        line-height: 13px;
                                        color: #0f4a1a;
                                        opacity: 0.8;
                                    }
                                }
                                &.value{
                                    width: 400px;
                                }
                                &.value-under {
                                    .rate {
                                        background: rgba(56, 167, 0, 0.1);
                                        border-radius: 3px;
                                        padding: 3px;
                                        span {
                                            font-family: "Inter";
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 9px;
                                            line-height: 11px;
                                            /* identical to box height */
                                            text-align: center;
                                            color: #38a700;
                                        }
                                        img {
                                            font-size: 8px;
                                        }
                                    }
                                    .rate + span {
                                        font-family: "Inter";
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 11px;
                                        line-height: 13px;
                                        text-align: justify;
                                        color: #0f4a1a;
                                    }
                                    span {
                                        font-family: "Inter";
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 11px;
                                        line-height: 13px;
                                        /* identical to box height */

                                        color: #38a700;
                                    }
                                    .couple {
                                        i {
                                            font-size: 11px;
                                            color: #0f4a1a;
                                        }
                                        span {
                                            font-family: "Inter";
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 11px;
                                            line-height: 13px;
                                            color: #0f4a1a;
                                        }
                                    }
                                }
                            }
                            .title {
                                width: 222px;
                            }
                            td {
                                padding: 0px;
                            }
                        }
                        .table > :not(caption) > * > * {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
@include responsive($size-md) {
    #rating-section .user-rate-comment-contain .menu-bar li a{
        border-radius: 5px;
    }
    #rating-section .user-rate-comment-contain .menu-bar li{
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #rating-section .user-rate-comment-contain .menu-bar .sort{
        position: relative;
        display: block;
    }
    #rating-section .list-react-contain.end{
        border: none;
    }
}
