#header {
    * {
        font-family: Inter !important;
    }
    .header-top {
        .contact-info-contain {
            a {
                color: $color-white;
                &:hover {
                    color: $color-white;
                }
                span {
                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }
        .right {
            .search-form {
                input {
                    border: none;
                    border-radius: 5px;
                    padding: 0px 15px;
                    background-color: rgba(255, 255, 255, 0.427);
                    &:focus {
                        outline: none;
                    }
                }
                .icon-search {
                    cursor: pointer;
                }
            }
        }
        .lang {
            span {
                margin-right: 5px;
            }
            a {
                color: $color-white;
            }
        }
    }
    nav {
        padding-bottom: 41px;
        &>.container-fluid{
            border-bottom: 1px solid gray;
            padding: 0!important;
        }
        position: relative;
        .navbar-brand{
            position: absolute;
            background-color: transparent;
            top: 50%;
            left: 0;
            transform: translate(0%,-50%);
            margin-left: 25px;
            margin-right: 0px;
            img{
                width: 90px;
            }
        }
        form{
            margin-right: 25px;
            button{
                margin-bottom: 8px;
            }
        }
        #nav-content {
            .navbar-nav {
                margin: 0 auto!important;
                padding-left: 100px;
            }
            .nav-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0px 5px;
                a{
                    transition: 0.5s;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 0%;
                    height: 6px;
                    background-color: $color-green-0;
                    transition: 0.5s;
                }
                &:hover {
                    a{
                        color: $color-green-0;
                    }
                    &::after {
                        width: 100%;
                    }
                }
            }
            a {
                font-family: Raleway;
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0em;
                color: $color-black;
            }

            .nav-item.dropdown {
                .dropdown-menu {
                    padding: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    background-color: $color-green-white;
                }
                li {
                    border-bottom: 1px solid $color-gray;
                    transition: 0.5s;
                    &:hover {
                        background-color: $color-green-1;
                        color: white;
                    }
                    a{
                        background-color: transparent;
                        padding: 10px 10px;
                        transition: 0.5s;
                    }
                    a:hover{
                        background-color: $color-green-1;
                        color: $color-white;
                        border-bottom: none;
                    }
                    &:last-child{
                        &:hover{
                            border-radius: 0px 0px 15px 15px;
                        }
                    }
                }
            }
        }
    }
}
