#lu-hanh-list-company {
    background-color: rgba(56, 167, 0, 0.1);
    .list-company-contain {
        .item {
            border-radius: 10px;
            img {
                width: 365px;
                height: 100%;
                object-fit: cover;
                border-radius: 10px 0px 0px 10px;
            }
            .content {
                background-color: white;
                h3 {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: justify;
                    color: #0f4a1a;
                }
                .list {
                    .list-property {
                        margin-bottom: 10px;
                        i {
                            color: #38a700;
                        }
                        b {
                            font-family: "Inter";
                            font-style: normal;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 17px;
                            text-align: justify;
                            color: #0f4a1a;
                        }
                        span {
                            font-family: "Inter";
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
            }
        }
    }
}
.sort {
    .sort-list {
        border-radius: 0px 0px 10px 10px;
        background-color: white;
        label {
            background: #38a700;
            border-radius: 0px 0px 10px 10px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            padding: 15px 16px;
        }

        .dropdown {
            button::after {
                display: none;
            }
            button {
                background-color: transparent;
                border: none;
                // width: 130px;
                border-right: 1px solid gray;
                padding: 0px 30px;
                padding-right: 40px;
            }
            .btn-select-2 {
                // width: 167px;
            }
            .btn-select-3 {
                // width: 110px;
                border-right: none;
            }
        }
        .select {
            ul {
                padding: 0;
                li {
                    border-bottom: 1px solid gray;
                    background: #C0F4CA;
                    padding: 10px;
                    transition: .5s;
                    &:hover{
                        background-color: #38a700;
                        span{
                            color: white;
                        }
                    }
                    &:last-child{
                        border-bottom: none;
                        
                    }
                    span {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: rgba(15, 74, 26, 0.7);
                        &:hover{
                            background-color: transparent;
                        }
                    }
                }
            }
            position: relative;
            img {
                position: absolute;
                top: 50%;
                right: 11px;
                transform: translate(0%, -50%);
            }
        }
        // .select{

        // }
        // .select2-search--dropdown{
        //     display: none!important;
        // }
        // .SortForm{
        //     .select2-search--dropdown{
        //         display: none!important;
        //     }
        // }
    }
}
