.phan-hoi-body-bg{
    background: rgba(56, 167, 0, 0.1);
    padding-bottom: 100px;
}
#phan-hoi-contact-info {
    .item-contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .icon {
            width: 63px;
            height: 63px;
            background-color: #38a700;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 27px;
            margin-bottom: 15px;
        }
        h3 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #0f4a1a;
        }
        p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #0f4a1a;
            width: 100%;
            max-width: 167px;
        }
    }
}
#phan-hoi-send-message {
    border-radius: 10px;
    overflow: hidden;
    .bg-color {
        padding: 50px 100px;
        background: rgba(15, 74, 26, 0.7);
        border-radius: 10px;
    }
    .form {
        background-color: white;
        border-radius: 10px;
        .form-head {
            margin-bottom: 22px;
            .user-info {
                img {
                    width: 49px;
                    height: 49px;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 1px solid #38a700;
                    margin-right: 10px;
                }
                h6 {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    color: #38a700;
                    margin-bottom: 0px;
                }
                i,
                span {
                    color: rgba(113, 113, 113, 0.6);
                }
                i {
                    margin-right: 5px;
                }
            }
        }
        .form-body {
            input {
                padding: 10px 24px;
                font-size: 20px;
                border: 2px solid rgba(113, 113, 113, 0.6);
                border-radius: 5px;
                margin-bottom: 13px;
            }
            textarea{
                border: 2px solid rgba(113, 113, 113, 0.6);
                border-radius: 5px;
                padding: 17px 24px;
                font-size: 20px;
                
            }
        }
        .form-bottom{
            max-width: 417px;
            width: 100%;
            margin: 0 auto;
            button,span{
                display: flex;
                align-items: center;
                i{
                    margin-right: 4px;
                }
                margin: 0px 10px;
            }
        }
    }
}

@include responsive($size-md){
    #phan-hoi-send-message .bg-color{
        padding: 20px;
    }
    #phan-hoi-send-message .form .form-body input{
        padding: 10px 15px;
    }
    #phan-hoi-send-message .form .form-body textarea{
        padding: 10px 15px;
    }
    .phan-hoi-body-bg{
        padding-bottom: 50px;
    }
}