.tien-ich-chi-tiet-article {
    h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 108.02%;
        /* or 35px */
        text-align: justify;
        color: #38a700;
        margin-bottom: 22px;
    }
    .images-list {
        .img-top {
            height: 278.35px !important;
            object-fit: cover;
        }
        img {
            height: 137.69px;
            object-fit: cover;
        }
    }
    .detail {
        h5 {
            margin-top: 20px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: justify;
            color: #0f4a1a;
        }
        p {
            font-family: "Inter";
            font-style: normal;
            // font-weight: 700;
            font-size: 17px;
            line-height: 24px;
            text-align: justify;
            color: #0f4a1a;
        }
    }
}
.tien-ich-chi-tiet-aside {
    h5 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: justify;
        color: #38a700;
    }
}
